.app-name{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    border-bottom: 1px solid #5b616c57;
    color: #d4d4d4;
    position: fixed;
    background: #1a1a1a;
    top: 0;
    margin: 0;
}