.app-name{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    border-bottom: 1px solid #5b616c57;
    color: #5b616c;
    position: fixed;
    top: 0;
    background-color: #1e2228;
    margin: 0;
}